@import '~bootstrap-material-design';

@import '~@fortawesome/fontawesome-free/css/all.css';


body {
  /* background-image: url('https://4.bp.blogspot.com/-t66dsqEtoEg/UvTSMA8OMCI/AAAAAAAAASA/4OUBnSoo2HI/s1920/fondoPMG.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(229, 229, 230) !important;
}

.card-image {
  text-align: center;
  padding: 3%;
}

.card-img-top {
  width: auto;
  height: auto;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.card{
  box-shadow: 0px 5px 20px #999;
  display: flex;
  flex-direction: column;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}s

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #dfdede;}

.dropdown:hover .dropdown-content {display: block;}


.text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
